body {

	background-size: cover;
	background-color: #3a444f;
}

.margin-index {
	margin-top:10%;
}

.curseurOnCard {
	cursor: pointer;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.width-center {
	width: -webkit-fill-available;
}